@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,.6);
  backdrop-filter: blur(15px);
}
.App-header .container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  max-width: 776px;
  margin: 0 auto;

}

.iconify {
  color: #666;
}

.game-grid {
  display: grid;
  background: #B9B9B9;
  grid-gap: 1px;
  width: fit-content;
  border: 1px solid #B9B9B9;
}

.game-cell {
  width: 28px;
  height: 28px;
  background: #fff;
  padding: 1px;
}

.game-cell.active:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #C60000 0%, #FF6565 100%);
}

footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: rgba(255,255,255,.6);
  backdrop-filter: blur(15px);
}

footer .container {
  width: 776px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

footer .stats {
  position: absolute;
  right: 0;
  text-align: right;
}
footer .stats p {
  margin-bottom: 5px;
  margin-top: 0;
}
button.play-button {
  border: 1px solid #666;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-left: 2px;
}